api_net_core/.vs/
api_net_core/ShopOnline.IdentityServer/tempkey.jwk
api_net_core/ShopOnline.IdentityServer/keys/is-signing-key-C909A9124F558B4F9D295BFD50E55ECE.json
api_net_core/ShopOnline.IdentityServer/obj/
api_net_core/ShopOnlineApi/bin/
api_net_core/ShopOnlineApi/obj/
client_mvc/bin/
client_mvc/obj/
api_net_core/ShopOnline.IdentityServer/bin/
api_net_core/ShopOnline.Common/bin/
api_net_core/ShopOnline.Common/obj/
api_net_core/ShopOnline.IdentityServer/keys/is-signing-key-9B8940C4E17485965A9DF72992EB1FE1.json
client_mvc/.vs/
api_net_core/ShopOnline.Api.Tests/bin/
api_net_core/ShopOnline.Api.Tests/obj/
client_angular/old/
IMediator/ShopOnline.IdentityServer/obj/
IMediator/ShopOnlineApi/bin/
IMediator/ShopOnlineApi/obj/
IMediator/ShopOnline.IdentityServer/bin/
IMediator/ShopOnline.Common/obj/
IMediator/ShopOnline.Common/bin/
IMediator/ShopOnline.Api.Tests/obj/
IMediator/ShopOnline.Api.Tests/bin/
IMediator/.vs/
reCAPTCHA/api_net_core/.vs/
reCAPTCHA/client_mvc/bin/
reCAPTCHA/client_mvc/obj/
IntegrationTest/api_net_core/.vs/
IntegrationTest/api_net_core/ShopOnline.Api.IntegrationTests/bin/
IntegrationTest/api_net_core/ShopOnline.Api.IntegrationTests/obj/
IntegrationTest/api_net_core/ShopOnline.Api.Tests/bin/
IntegrationTest/api_net_core/ShopOnline.Api.Tests/obj/
IntegrationTest/api_net_core/ShopOnline.Api/bin/
IntegrationTest/api_net_core/ShopOnline.Api/obj/
IntegrationTest/api_net_core/ShopOnline.Common/obj/
IntegrationTest/api_net_core/ShopOnline.IdentityServer/bin/
IntegrationTest/api_net_core/ShopOnline.IdentityServer/obj/
IntegrationTest/api_net_core/ShopOnline.Common/bin/
*.json
reCAPTCHA/api_net_core/ShopOnline.Common/obj/
reCAPTCHA/api_net_core/ShopOnline.Api/obj/
reCAPTCHA/api_net_core/ShopOnline.Api.Tests/obj/
reCAPTCHA/api_net_core/ShopOnline.IdentityServer/obj/
gRPC/api_net_core/.vs/
Interview/
Redis/api_net_core/.vs/
reCAPTCHA/api_net_core/ShopOnline.Api.Tests/bin/
RabbitMQ/.vs/
Docker/.vs/
Docker/api_net_core/.vs/
