@model LoginViewModel

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />

    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>&nbsp;</div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-link">Register</a>
</form>
<p>&nbsp</p>

<a asp-controller="External" asp-action="Challenge" asp-route-scheme="Google" asp-route-returnUrl="@Model.ReturnUrl"
   class="btn btn-outline-danger">
    <i class="bi bi-google"></i> Login with Google
</a>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
